.filterTabs {
  width: max-content;

  & button {
    max-width: max-content;
    font-size: var(--font-sm);
    background-color: var(--white-color);
    color: var(--primary-color);
    font-weight: var(--weight-bold);
    border: 1px solid var(--border-base);
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--radius-sm);
    text-transform: uppercase;

    &.active {
      border-color: var(--accent-color);
      color: var(--accent-color);
    }
  }
}
