/* Global Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base Settings */
html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;
}

body {
  font-family: var(--family-base);
  font-size: var(--font-base);
  line-height: var(--line-base);
  color: var(--primary-text);
  background-color: var(--primary-bg);
  overflow: hidden;
  min-width: 320px;
  min-height: 100vh;
  gap: 0;
}

/* Root Variables */
:root {
  /* Common Palette */
  --white-color: #fff;
  --accent-color: #3b82f6;
  --feature-color: #f97316;
  --switch-btn-bg: #cbced5;
  --scrollbar-bg: transparent;
  --accent-Rgb: 59, 130, 246;

  /* Typography */
  --family-base: "Poppins", sans-serif;
  --font-xs: 1.2rem; /* 12px */
  --font-sm: 1.3rem; /* 13px */
  --font-base: 1.4rem; /* 14px */
  --font-md: 1.6rem; /* 16px */
  --font-lg: 1.8rem; /* 18px */
  --font-xl: 2.4rem; /* 24px */
  --weight-thin: 300;
  --weight-normal: 400;
  --weight-base: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
  --line-sm: 1.4;
  --line-base: 1.5;
  --line-lg: 1.75;

  /* Spacing */
  --spacing-xs: 0.4rem;
  --spacing-sm: 0.8rem;
  --spacing-base: 1.2rem;
  --spacing-md: 1.6rem;
  --spacing-lg: 2.4rem;
  --spacing-xl: 3.2rem;

  /* Borders */
  --border-base: 1px solid var(--border-color);
  --border-transparent: 1px solid transparent;
  --border-accent: 1px solid var(--accent-color);
  --border-err: 1px solid var(--danger-color);
  --border-base-dotted: 1px dotted var(--border-color);
  --border-base-dashed: 1px dashed var(--border-color);
  --border-err-dashed: 1px dashed var(--danger-color);
  --radius-xs: 0.3rem;
  --radius-sm: 0.4rem;
  --radius-base: 0.6rem;
  --radius-md: 0.8rem;
  --radius-lg: 1.6rem;
  --rounded: 50%;

  /* Shadows */
  --shadow-xs: 0 0 0 2px;
  --shadow-sm: 0 2px 4px;
  --shadow-md: 2px 4px 12px;
  --shadow-lg: 4px 6px 18px;

  /* Opacity */
  --opacity-xs: 0.1;
  --opacity-sm: 0.2;
  --opacity-md: 0.4;
  --opacity-lg: 0.6;
  --opacity-xl: 0.7;

  /* Breakpoints */
  --breakpoint-xs: 320px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;

  /* Layout */
  --sidebar-width: 22rem;

  /* Base Transition */
  --transition-base: all 0.3s ease;
  --transition-linear: all 0.3s linear;
  --transition-popup: all 0.3s cubic-bezier(0.175, 0.885, 0.4, 1.1);

  /* animation */
  --animation-base: 0.3s ease;
  --animation-md: 0.5s ease;
}

/* Dark Mode */
[data-theme="dark"] {
  --primary-bg: #1e1e1e;
  --secondary-bg: #121212;
  --canvas-color: #2c2c2c;
  --tooltip-bg: 44, 44, 44;
  --primary-text: #e0e0e0;
  --secondary-text: #b0b0b0;
  --inactive-text: #959595;
  --subtle-bg: #;
  --wrapper-bg: #292929;
  --block-bg: #383838;
  --overlay-bg: #383838;
  --danger-color: #ff4b4b;
  --warning-color: #f0a500;
  --success-color: #30d158;
  --danger-Rgb: 255, 75, 75;
  --warning-Rgb: 240, 165, 0;
  --success-Rgb: 48, 209, 88;
  --border-color: #444444;
  --shadow-light-Rgb: 0, 0, 0, 0.2;
  --shadow-base-Rgb: 0, 0, 0, 0.3;
  --shadow-dark-Rgb: 0, 0, 0, 0.4;
  --scrollbar-thumb-bg: #424242;
}

/* Light Mode */
[data-theme="light"] {
  --primary-bg: #f5f5f5;
  --secondary-bg: #2d2d2d;
  --canvas-color: #ffffff;
  --tooltip-bg: 255, 255, 255;
  --primary-text: #333333;
  --secondary-text: #666666;
  --inactive-text: #959595;
  --subtle-bg: #;
  --wrapper-bg: var(--primary-bg);
  --block-bg: var(--white-color);
  --overlay-bg: #f5f8fd;
  --danger-color: #e64a4a;
  --warning-color: #f9ac2a;
  --success-color: #2cb360;
  --danger-Rgb: 230, 74, 74;
  --warning-Rgb: 249, 172, 42;
  --success-Rgb: 44, 179, 96;
  --border-color: #d1d5db;
  --shadow-light-Rgb: 0, 0, 0, 0.1;
  --shadow-base-Rgb: 0, 0, 0, 0.06;
  --shadow-dark-Rgb: 0, 0, 0, 0.15;
  --scrollbar-thumb-bg: #e0e0e0;
}

/* Apply transition to theme changes */
[data-theme="dark"],
[data-theme="light"] {
  transition: var(--transition-base);
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-text);
  font-weight: var(--weight-bold);
}

h1 {
  font-size: 3.6rem;
  line-height: 1.1;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: var(--font-base);
  font-weight: var(--weight-semibold);
}

h5 {
  font-size: var(--font-base);
  font-weight: var(--weight-semibold);
}

h6 {
  font-size: var(--font-sm);
  font-weight: var(--weight-semibold);
}

p {
  color: var(--primary-text);
  line-height: var(--line-lg);
}

/* Links */
a,
li {
  display: flex;
  gap: var(--spacing-sm);
  color: var(--primary-text);
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition-base);
  list-style: none;
}

button,
span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  transition: var(--transition-base);
}

button {
  font-family: var(--family-base);
  color: var(--primary-text);
  gap: var(--spacing-xs);
  cursor: pointer;
  border: none;
  background-color: transparent;
  z-index: 2;
}

.btn {
  height: 32px;
  font-size: var(--font-base);
  padding: 0 var(--spacing-base);
  border-radius: var(--radius-md);
  border: var(--border-base);
  border-color: transparent;
  color: var(--primary-text);

  &.primary-btn {
    background: var(--accent-color);

    &:hover {
      opacity: 0.8;
    }
  }

  &.secondary-btn {
    border-color: var(--border-color);

    &:hover {
      opacity: 0.8;
    }
  }
}

/* antd default styles */
.ant-tooltip {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  max-width: max-content;
  backdrop-filter: blur(1px);
  border: var(--border-base);
  border-radius: var(--radius-base);
  background-color: rgba(var(--tooltip-bg), 0.8);

  & > .ant-tooltip-arrow {
    &::before {
      background-color: var(--canvas-color);
    }

    &::after {
      border: var(--border-base);
      border-left-color: transparent;
      border-top-color: transparent;
    }
  }

  & .ant-tooltip-content .ant-tooltip-inner {
    box-shadow: inherit;
    background-color: inherit;
    color: inherit;
    padding: 0;
  }
}

.ant-divider {
  background-color: var(--border-color);

  &.ant-divider-horizontal {
    margin: var(--spacing-sm) 0;
  }
}

ol,
ul {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  transition: var(--transition-base);
}

/* icons */
span,
svg {
  transition: var(--transition-base);
}

/* Forms */
input,
select,
textarea {
  width: 100%;
  padding: var(--spacing-sm);
  font-size: var(--font-base);
  border: 1px solid var(--border-color);
  border-radius: var(--radius-sm);
  color: var(--primary-text);
  transition: var(--transition-base);
  outline: none;
  background-color: transparent;
}

select {
  background-color: var(--canvas-color);
}

input[type="file"] {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

label {
  display: block;
  font-weight: var(--weight-bold);
  transition: var(--transition-base);
}

/* Layout */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--spacing-md);
}

main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 3rem;
  text-align: start;
}

/* Custom Scrollbar for WebKit Browsers (Chrome, Safari, Edge) */
.custom-scrollbar {
  /* scrollbar-width: thin; */
  scrollbar-color: var(--scrollbar-thumb-bg) var(--scrollbar-bg);
}

/* Utility Classes */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/* Grids */
.grid {
  display: grid;
  gap: var(--spacing-md);
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

/* Flexbox */
.flex {
  display: flex;
  gap: var(--spacing-sm);
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-inline {
  display: inline-flex;
}

.flex-start {
  justify-content: start;
  align-items: start;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

/* Media Queries */
@media (max-width: var(--breakpoint-lg)) {
  .container {
    padding: 0 var(--spacing-sm);
  }
  h1 {
    font-size: 2.8rem;
  }
  .grid-2 {
    grid-template-columns: 1fr;
  }
}
