.switchBtn {
  position: fixed;
  bottom: var(--spacing-xl);
  right: var(--spacing-xl);
  z-index: 99;
  width: 7rem;
  height: 3rem;
  background: var(--wrapper-bg);
  border: 2px solid transparent;
  border-radius: 500px;

  & span {
    width: 2.4rem;
    height: 2.4rem;
    position: relative;
    border-radius: var(--rounded);
    background-color: var(--secondary-bg);
    box-shadow: 6px 6px 12px 0 rgba(132, 152, 208, 0.05);
    transform: translateX(0);
  }

  & svg {
    position: absolute;
    font-size: var(--font-lg);
    color: var(--secondary-text);
    z-index: 10;

    &:first-child {
      left: 2px;
    }

    &:last-child {
      right: 2px;
    }
  }

  &.switchBtnOn span {
    transform: translateX(4.2rem);
  }
}
