@keyframes slideRight {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(0.5em);
  }
  100% {
    transform: translateX(0);
  }
}

.showcaseHeader {
  width: 100%;
  padding: 0 var(--spacing-lg);

  & a {
    gap: var(--spacing-sm);
    display: inline-flex;

    &:hover {
      color: var(--accent-color);

      & svg {
        animation: slideRight var(--animation-base) infinite;
      }
    }
  }
}
