.productForm {
  width: 100%;
  gap: var(--spacing-xl);

  & .formSection {
    flex: 1;
    background-color: var(--white-color);
    padding: 1.2rem var(--spacing-md) 2rem;
    border-radius: var(--radius-md);
    gap: var(--spacing-md);

    & > div {
      flex: 1;
      gap: var(--spacing-md);

      & > div {
        flex: 1 1 100%;
      }
    }

    & .sectionHeader p {
      color: var(--secondary-text);
    }

    & .showMoreBtn {
      transition: var(--transition-base);

      & svg {
        transition: var(--transition-base);
      }

      &.showMoreBtnActive svg {
        transform: rotate(180deg);
      }
    }
  }

  & .mediaInputContainer {
    flex: 1;
    padding: var(--spacing-md);
    border-radius: var(--radius-md);
    background-color: var(--muted-bg);

    & .mediaInputWrapper {
      max-width: max-content;

      & .mediaPreviewWrapper {
        max-width: max-content;

        & .mediaPreviewItem {
          position: relative;
          width: 6rem;
          height: 6rem;
          border: var(--border-base-dashed) var(--border-color);

          & img,
          video {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          & .mediaActionsContainer {
            position: absolute;
            width: 100%;
            height: 100%;
            padding: 0 var(--spacing-xs);
            background-color: rgba(0, 0, 0, 0.7);
            opacity: 0;
            visibility: hidden;
            transition: var(--transition-base);

            & button svg {
              font-size: var(--font-lg);
            }
          }

          &:hover .mediaActionsContainer {
            opacity: 1;
            visibility: visible;
          }
        }

        & .addMediaWrapper {
          width: 6rem;
          height: 6rem;
          border: var(--border-base-dashed) var(--border-color);

          & label {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;

            & svg {
              font-size: var(--font-lg);
            }
          }
        }
      }
    }

    & .guideContainer {
      max-width: max-content;

      & ul {
        gap: var(--spacing-xs);

        & li {
          color: var(--secondary-text);
        }
      }
    }
  }

  & .productVariationsWrapper {
    width: 100%;

    & .variationItem {
      flex: 1;
      gap: var(--spacing-md);

      & .variationHeader {
        width: 100%;
        gap: var(--spacing-md);

        & .variationTitle {
          font-weight: var(--weight-semibold);
        }

        & .variationInfo span:last-child {
          color: var(--secondary-text);
        }

        & .variationDetails .showImageCheckbox {
          row-gap: var(--spacing-md);

          & label {
            font-weight: var(--weight-base);
            cursor: pointer;

            & span:last-child {
              color: var(--secondary-text);
            }
          }
        }
      }

      & .variationBody {
        width: 100%;

        & .variantWrapper {
          width: 100%;
        }

        & .variantItem {
          width: 100%;
          gap: var(--spacing-md);
          background-color: var(--muted-bg);
          padding: var(--spacing-sm) var(--spacing-md);
          border-radius: var(--radius-md);

          & .formInput {
            width: 30%;
          }

          & .mediaInput {
            padding: 0;
            background-color: transparent;
            max-width: max-content;

            & > div > div > div {
              width: 4rem;
              height: 4rem;
            }
          }

          & .variantActions {
            margin-left: auto;
          }
        }
      }
    }
  }

  & .productPriceStockWrapper {
    width: 100%;

    & .variantTableWrapper {
      max-width: 100%;
      overflow-x: auto;
      overflow-y: hidden;

      & table {
        width: 100%;
        width: max-content;
        border-collapse: collapse;

        & th,
        td {
          padding: 10px;
          border: var(--border-sm);
          text-align: center;

          /* &:last-child {
            position: sticky;
            right: 0px;
            background-color: var(--white-color);
            box-shadow: var(--shadow-base);
          } */
        }
      }
    }
  }

  & .productSpec > div {
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacing-md);

    & > div {
      flex: 0 0 48%;
    }
  }

  & .productSW > div {
    & > div:first-child {
      flex: 0 0 30%;
      width: 30%;
    }

    & > div:nth-child(3) > div {
      gap: var(--spacing-md);

      & > div * {
        cursor: pointer;
      }

      & input {
        width: auto;
      }
    }
  }
}
