.filterButtons {
  width: 100%;
  max-width: max-content;

  & button {
    border-radius: var(--radius-md);
    padding: 0 12px;
    height: 32px;
    border: var(--border-base) var(--accent-color);
    color: var(--accent-color);

    &:hover {
      background-color: var(--accent-color);
      color: var(--white-color);
    }
  }
}
