.socialIcons {
  width: max-content;

  & button {
    cursor: pointer;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: var(--rounded);
    border: 1px solid var(--border-base);

    & svg {
      color: var(--secondary-color);
      font-size: var(--font-base);
    }

    &:hover {
      border-color: var(--accent-color);

      & svg {
        color: var(--accent-color);
      }
    }
  }
}
