.categoryBanner {
  width: 100%;

  & .contentWrapper {
    width: 100%;
    height: 24rem;
    background-size: cover;
    background-position: center left;
    background-repeat: no-repeat;
    padding-top: var(--spacing-xl);

    & h2 {
      font-size: 3.6rem;
      color: var(--white-color);
    }

    & .keywordWrap {
      max-width: max-content;
      color: var(--white-color);
      gap: var(--spacing-md);

      & .keywordList {
        gap: var(--spacing-md);

        & a {
          color: var(--white-color);
        }
      }

      & .showMoreBtn {
        cursor: pointer;
      }
    }
  }

  & .subListWrapper {
    position: relative;
    width: 100%;
    max-width: 95%;
    background-color: var(--white-color);
    gap: var(--spacing-md);
    border-radius: var(--radius-sm);
    padding: var(--spacing-sm) var(--spacing-md);
    margin-top: -9rem;

    & .subList {
      width: 100%;
      padding: var(--spacing-sm) 0;
      overflow-x: auto;
      overflow-y: hidden;
      scroll-behavior: smooth;

      & .categoryItem {
        min-width: 176px;

        & .categoryImage {
          cursor: pointer;
          text-align: center;
          margin: 0 auto;
          height: 90px;
          width: 90px;
          padding: 6px;
          position: relative;
          border-radius: var(--rounded);
          overflow: hidden;
          background-color: var(--bg-primary);

          & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            mix-blend-mode: multiply;
          }
        }

        &:hover .categoryLabel {
          color: var(--accent-color);
        }
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &:hover button {
      opacity: 1;
    }
  }
}
