.formSection {
  flex: 1;
  background-color: var(--canvas-color);
  padding: 1.2rem var(--spacing-md) 2rem;
  border-radius: var(--radius-md);
  gap: var(--spacing-md);

  & > div {
    flex: 1;
    gap: var(--spacing-md);

    & > div {
      flex: 1 1 100%;
    }
  }

  & .sectionHeader p {
    color: var(--secondary-text);
  }

  & .showMoreBtn {
    transition: var(--transition-base);

    & svg {
      transition: var(--transition-base);
    }

    &.showMoreBtnActive {
      color: var(--accent-color);

      & svg {
        transform: rotate(180deg);
      }
    }
  }
}
