.tooltipWrapper {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.tooltipArrow {
  width: 10px;
  height: 10px;
  background-color: white;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  transform: rotate(45deg);
  position: absolute;
}

.tooltipArrow.top {
  top: -5px;
  left: 50%;
}

.tooltipArrow.left {
  left: -5px;
  top: 50%;
}

.tooltipArrow.right {
  right: -5px;
  top: 50%;
}

.tooltipArrow.bottom {
  bottom: -5px;
  left: 50%;
}

.tooltipContent {
  padding: 5px;
  font-size: 14px;
}
