.productPriceStockWrapper {
  width: 100%;

  & .variantTableWrapper {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    & table {
      width: 100%;
      width: max-content;
      border-collapse: collapse;

      & th,
      td {
        padding: 10px;
        border: var(--border-sm);
        text-align: center;
      }
    }
  }
}
