.productVariationsWrapper {
  width: 100%;

  & .variationItem {
    flex: 1;
    gap: var(--spacing-md);
    background-color: var(--wrapper-bg);
    padding: 2rem;
    border-radius: var(--radius-sm);

    & > div {
      flex-direction: column;
    }

    & .variationHeader {
      width: 100%;
      gap: var(--spacing-md);

      & .variationTitle {
        font-weight: var(--weight-semibold);
      }

      & .variationInfo span:last-child {
        color: var(--secondary-text);
      }

      & .variationDetails .showImageCheckbox {
        row-gap: var(--spacing-md);

        & label {
          font-weight: var(--weight-base);
          cursor: pointer;

          & span:last-child {
            color: var(--secondary-text);
          }
        }

        & > div {
          border: none;
          max-width: max-content;
        }
      }
    }

    & .variationBody {
      width: 100%;

      & .variantWrapper {
        width: 100%;
      }

      & .variantItem {
        width: 100%;
        gap: var(--spacing-md);
        background-color: var(--block-bg);
        padding: var(--spacing-sm) var(--spacing-md);
        border-radius: var(--radius-md);

        & .formInput {
          width: 30%;
        }

        & .mediaInput {
          padding: 0;
          background-color: transparent;
          max-width: max-content;

          & > div:first-child {
            padding: 0;
            border-radius: none;
            background-color: transparent;
          }

          & > div > div > div {
            width: 4rem;
            height: 4rem;
          }
        }

        & .variantActions {
          margin-left: auto;
        }
      }
    }
  }
}
