.formInputContainer {
  position: relative;

  & label > svg {
    color: red;
    font-size: 1rem;
  }

  & .formInputWrapper {
    flex: 1;

    & > div {
      flex: 1;
    }

    & .inputWrapper {
      flex: 1;
      position: relative;
      border: var(--border-sm);
      border-radius: var(--radius-sm);
      transition: var(--transition-base);

      & input {
        border: none;
        flex: 1 1;
      }

      & .suffixDisplay {
        position: absolute;
        gap: var(--spacing-xs);
        right: var(--spacing-md);
        color: var(--secondary-text);
        font-size: var(--font-xs);
      }

      &:focus-within,
      &:hover {
        border-color: var(--accent-color);
      }

      &:focus-within {
        box-shadow: var(--accent-shadow-light);
      }
    }
  }

  & .errorMsg {
    color: red;
  }
}

.mediaInputContainer {
  flex: 1;
  padding: var(--spacing-md);
  border-radius: var(--radius-md);
  background-color: var(--wrapper-bg);

  & .mediaInputWrapper {
    max-width: max-content;

    & .mediaPreviewWrapper {
      max-width: max-content;

      & .mediaPreviewItem {
        position: relative;
        width: 6rem;
        height: 6rem;
        border: var(--border-base-dashed) var(--border-color);

        & img,
        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        & .mediaActionsContainer {
          position: absolute;
          width: 100%;
          height: 100%;
          padding: 0 var(--spacing-xs);
          background-color: rgba(0, 0, 0, 0.7);
          opacity: 0;
          visibility: hidden;
          transition: var(--transition-base);

          & button svg {
            font-size: var(--font-lg);
          }
        }

        &:hover .mediaActionsContainer {
          opacity: 1;
          visibility: visible;
        }
      }

      & .addMediaWrapper {
        width: 6rem;
        height: 6rem;
        border: var(--border-base-dashed) var(--border-color);

        & label {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;

          & svg {
            font-size: var(--font-lg);
          }
        }

        & > div {
          display: none;
        }
      }
    }
  }

  & .guideContainer {
    max-width: max-content;

    & ul {
      gap: var(--spacing-xs);

      & li {
        color: var(--secondary-text);
      }
    }
  }
}

.dropdownInputContainer {
  flex: 1;

  & .dropdownInputWrapper {
    width: 100%;
    position: absolute;
    border: var(--border-sm);
    border-radius: var(--radius-sm);
    padding: var(--spacing-sm) 0;
    background-color: var(--canvas-color);
    top: 110%;
    left: 0;
    z-index: 10;

    & .dropdownList {
      flex: 1;
      position: relative;
      max-height: 25rem;
      overflow-x: hidden;
      overflow-y: auto;

      & .dropdownItem {
        flex: 1;
        padding: var(--spacing-sm) var(--spacing-md);

        &:hover {
          background-color: var(--wrapper-bg);
        }
      }

      & .noOptions {
        flex: 1;
        padding: 0 var(--spacing-md);
      }
    }
  }

  &.dropdownInputFocused > div > div > div:last-child svg {
    transform: rotate(180deg);
  }
}
