.categoryPage {
  width: 100%;

  & .showcaseGrid {
    padding: var(--spacing-md) var(--spacing-lg);

    & .showcaseContent {
      display: grid;
      grid-template-columns: 2fr 3fr;
      gap: var(--spacing-md);
      width: 100%;
      padding: 0 var(--spacing-lg);
      height: 100%;

      & .featureCard {
        height: 100%;
        width: auto;
      }

      & .productImages {
        background-color: var(--bg-tertiary);
      }

      & .productContent {
        padding: var(--spacing-sm) var(--spacing-md);
        background-color: var(--white-color);
      }

      & .showcaseWrapper {
        display: grid;
        grid-column: 2 / 3;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--spacing-md);
        padding: 0 !important;

        & .productCardV2 {
          width: auto;
        }
      }
    }
  }
}
