.error {
  text-align: center;
  padding: var(--spacing-lg);

  & .errorWrapper {
    max-width: 600px;
    position: relative;
    overflow: hidden;
    background-color: var(--secondary-color);
    border-radius: var(--radius-md);
    padding: var(--spacing-lg);
    box-shadow: var(--shadow-lg);
    gap: var(--spacing-md);

    & .errorContent {
      width: 100%;

      & .errorTitle {
        color: var(--primary-color);
        margin-bottom: var(--spacing-md);
      }
    }

    & .actionBtns {
      margin: 0 auto;

      & .homeLink {
        text-decoration: underline;
      }
    }
  }
}
